PPO_marek/gamma_old/
PPO_marek/batch_size_old/
PPO_marek/gamma/
PPO_marek/batch_size/
PPO_marek/batch_size1/
PPO_marek/lr_discount/
PPO_marek/steps_per_ep/
PPO_marek/epochs/
PPO_marek/clip/
PPO_marek/num_envs/
PPO_marek/gae_lambda/
PPO_marek/__pycache__/
slurm*

vojta/