ppo/gamma_old/
ppo/batch_size_old/
ppo/gamma/
ppo/batch_size/
ppo/batch_size1/
ppo/lr_constant/
ppo/lr_discount/
ppo/lr/
ppo/steps_per_ep/
ppo/epochs/
ppo/clip/
ppo/clip1/
ppo/num_envs/
ppo/entropy_coeff/
ppo/vf_coeff/
ppo/gae_lambda/
ppo/__pycache__/
ppo/models/
slurm*

vojta/