project/gamma_old/
project/batch_size_old/
project/gamma/
project/batch_size/
project/batch_size1/
project/lr_constant/
project/lr_discount/
project/lr/
project/steps_per_ep/
project/epochs/
project/clip/
project/clip1/
project/num_envs/
project/entropy_coeff/
project/vf_coeff/
project/gae_lambda/
project/__pycache__/
project/models/
slurm*

vojta/